<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--
        传统方式：需要申明 相关Controller
        这里需要注意：/list.action 需要 斜杠
    -->
    <bean name="/list.action" class="com.yazao.springmvc.controller.ItemController"></bean>


    <!--
        注解方式：需要添加Controller扫描器
    -->
    <context:component-scan base-package="com.yazao.springmvc.controller"></context:component-scan>


    <!--
        SpringMVC 三大组件：
        与DispatcherServlet类 同目录下的 DispatcherServlet.properties 文件中定义了 SpringMVC的三大核心组件：

        HandlerMapping、HandlerAdapter、ViewResolver


        HandlerMapping（处理器映射器）：
             org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping（传统开发方式）
             org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping（注解开发方式）

        HandlerAdapter（处理器适配器）：
            org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter
	        org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter（传统开发方式）
	        org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter注解开发方式）

        ViewResolver（视图解析器）：
            org.springframework.web.servlet.view.InternalResourceViewResolver
    -->


    <!-- 注解驱动 替代了上面的 HandlerMapping 和 HandlerAdapter  -->
    <mvc:annotation-driven/>

    <!--
        配置 视图解析器 的前缀和后缀。目的：在 ModelAndView 中页面跳转的简化
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>