<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <!--    在半注解 applicationContext_annotation.xml 的基础上，实现全注解，也就是
            在这个xml文件中不再有任何内容，替代为 注解code形式。在包：com.yazao.spring.allannotation.SpringConfig

    -->

</beans>